# Scraping the webpage

In [1]:
from bs4 import BeautifulSoup
import requests

In [4]:
url = 'https://www.scrapethissite.com/pages/forms/?page_num=1'
page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [ ]:
print(soup)

In [ ]:
table = soup.find_all('table')
print(table)

In [ ]:
# get table header/first row of the table
header = table[0].find_all('th')
print(header)

In [8]:
# extract header titles
headerList = [title.text.strip() for title in header]

In [9]:
print(headerList)

['Team Name', 'Year', 'Wins', 'Losses', 'OT Losses', 'Win %', 'Goals For (GF)', 'Goals Against (GA)', '+ / -']

In [2]:
import pandas as pd

In [38]:
# create a dataframe with the headerList as the column names
df = pd.DataFrame(columns = headerList)

df

Empty DataFrame
Columns: [Team Name, Year, Wins, Losses, OT Losses, Win %, Goals For (GF), Goals Against (GA), + / -]
Index: []

In [40]:
# iterate through all pages

base_url = 'https://www.scrapethissite.com/pages/forms/?page_num='

for i in range(1, 25):
    url = base_url + str(i)
    page = requests.get(url)

    team_data = table[0].find_all('tr', class_ = 'team')

    for row in team_data:
        row_data = row.find_all('td')
        raw_data = [data.text.strip() for data in row_data]

        # insert row_data into the dataframe
        df.loc[len(df)] = raw_data

In [41]:
df

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...
595,Winnipeg Jets,1990,26,43,,0.325,260,288,-28
596,Boston Bruins,1991,36,32,,0.45,270,275,-5
597,Buffalo Sabres,1991,31,37,,0.388,289,299,-10
598,Calgary Flames,1991,31,37,,0.388,296,305,-9
599,Chicago Blackhawks,1991,36,29,,0.45,257,236,21

In [42]:
df.to_csv("Hockey-Teams.csv", index=False)

# Exploratory Data Analysis

In [3]:
df = pd.read_csv('Hockey-Teams.csv')

In [4]:
df

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,NaN,0.550,299,264,35
1,Buffalo Sabres,1990,31,30,NaN,0.388,292,278,14
2,Calgary Flames,1990,46,26,NaN,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,NaN,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,NaN,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...
595,Winnipeg Jets,1990,26,43,NaN,0.325,260,288,-28
596,Boston Bruins,1991,36,32,NaN,0.450,270,275,-5
597,Buffalo Sabres,1991,31,37,NaN,0.388,289,299,-10
598,Calgary Flames,1991,31,37,NaN,0.388,296,305,-9
599,Chicago Blackhawks,1991,36,29,NaN,0.450,257,236,21

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Team Name           600 non-null    object
 1   Year                600 non-null    int64
 2   Wins                600 non-null    int64
 3   Losses              600 non-null    int64
 4   OT Losses           0 non-null      float64
 5   Win %               600 non-null    float64
 6   Goals For (GF)      600 non-null    int64
 7   Goals Against (GA)  600 non-null    int64
 8   + / -               600 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 42.3+ KB

In [6]:
df.describe()

,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
count,600.000000,600.000000,600.000000,0.0,600.000000,600.000000,600.000000,600.000000
mean,1990.160000,34.480000,34.520000,NaN,0.431080,276.680000,276.800000,-0.120000
std,0.366912,7.997262,7.420335,NaN,0.100022,32.430394,29.148861,49.312051
min,1990.000000,16.000000,22.000000,NaN,0.200000,223.000000,211.000000,-118.000000
25%,1990.000000,31.000000,30.000000,NaN,0.388000,256.000000,263.000000,-25.000000
50%,1990.000000,34.000000,36.000000,NaN,0.425000,272.000000,272.000000,0.000000
75%,1990.000000,39.000000,38.000000,NaN,0.487000,296.000000,298.000000,32.000000
max,1991.000000,49.000000,50.000000,NaN,0.613000,344.000000,354.000000,86.000000

In [7]:
df.isnull().sum()

Team Name               0
Year                    0
Wins                    0
Losses                  0
OT Losses             600
Win %                   0
Goals For (GF)          0
Goals Against (GA)      0
+ / -                   0
dtype: int64

We can just drop the 'OT Losses' column since all cells in that particular column contain null values only.

In [8]:
df.drop(columns='OT Losses', inplace=True)

In [9]:
df

,Team Name,Year,Wins,Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,0.550,299,264,35
1,Buffalo Sabres,1990,31,30,0.388,292,278,14
2,Calgary Flames,1990,46,26,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,0.425,273,298,-25
...,...,...,...,...,...,...,...,...
595,Winnipeg Jets,1990,26,43,0.325,260,288,-28
596,Boston Bruins,1991,36,32,0.450,270,275,-5
597,Buffalo Sabres,1991,31,37,0.388,289,299,-10
598,Calgary Flames,1991,31,37,0.388,296,305,-9
599,Chicago Blackhawks,1991,36,29,0.450,257,236,21

In [12]:
df.nunique()

Team Name             21
Year                   2
Wins                  18
Losses                17
Win %                 18
Goals For (GF)        23
Goals Against (GA)    23
+ / -                 23
dtype: int64

In [13]:
df.sort_values(by = "Wins").head()

,Team Name,Year,Wins,Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
365,Quebec Nordiques,1990,16,50,0.2,236,354,-118
390,Quebec Nordiques,1990,16,50,0.2,236,354,-118
265,Quebec Nordiques,1990,16,50,0.2,236,354,-118
40,Quebec Nordiques,1990,16,50,0.2,236,354,-118
565,Quebec Nordiques,1990,16,50,0.2,236,354,-118