# Scraping the webpage

In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
url = 'https://www.scrapethissite.com/pages/forms/?page_num=1'
page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [ ]:
print(soup)

In [ ]:
table = soup.find_all('table')
print(table)

In [ ]:
# get table header/first row of the table
header = table[0].find_all('th')
print(header)

In [8]:
# extract header titles
headerList = [title.text.strip() for title in header]

In [9]:
print(headerList)

['Team Name', 'Year', 'Wins', 'Losses', 'OT Losses', 'Win %', 'Goals For (GF)', 'Goals Against (GA)', '+ / -']

In [10]:
import pandas as pd

In [38]:
# create a dataframe with the headerList as the column names
df = pd.DataFrame(columns = headerList)

df

Empty DataFrame
Columns: [Team Name, Year, Wins, Losses, OT Losses, Win %, Goals For (GF), Goals Against (GA), + / -]
Index: []

In [40]:
# iterate through all pages

base_url = 'https://www.scrapethissite.com/pages/forms/?page_num='

for i in range(1, 25):
    url = base_url + str(i)
    page = requests.get(url)

    team_data = table[0].find_all('tr', class_ = 'team')

    for row in team_data:
        row_data = row.find_all('td')
        raw_data = [data.text.strip() for data in row_data]

        # insert row_data into the dataframe
        df.loc[len(df)] = raw_data

In [41]:
df

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...
595,Winnipeg Jets,1990,26,43,,0.325,260,288,-28
596,Boston Bruins,1991,36,32,,0.45,270,275,-5
597,Buffalo Sabres,1991,31,37,,0.388,289,299,-10
598,Calgary Flames,1991,31,37,,0.388,296,305,-9
599,Chicago Blackhawks,1991,36,29,,0.45,257,236,21